@import url('reset.css');

/*element {
  light-gray: #F1F6F9;
  blue: #4B55A1;
  red: #EC6159;
  pink: #FDD9BB;
}*/

body {
  font-family: Lato, Helvetica, san-serif;
}

header {
  width: 100%;
  color: #F1F6F9;
  background: #4B55A1;
  padding: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=========
  Top Nav
=========*/

nav {
  display: flex;
  justify-content: center;
  max-width: 600px;
  padding: 10px 0;
}

nav > a {
  color: #4B55A1;
  padding: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}

nav > a:hover:not(.active) {
  border-bottom: 2px solid #4B55A1;
}

a.active {
  color: #EC6159;;
  border-bottom: 2px solid #EC6159;
}

/*============
  Search Bar
============*/

#search-container {
  padding: 20px;
  width: 600px;
  background: #F1F6F9;
  border-radius: 5px;
}

main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 2px;  
}

input, 
button {
  padding: 6px;
}